{% load static %}
<nav class="navbar" style="background-color: #ff7433;" >
  <div class="container-fluid px-5" >    
    <img src="/static/main/imagenes/LOGO.png" alt="Logo" height="200"> 
    <div class="ms-auto">
      <button style="background-color: #4605fa; color: #fbff00;" class="btn btn-primary me-2">Noticias</button>
      <button style="background-color: #4605fa; color: #fbff00;" class="btn btn-primary me-2">Artistas</button>
      <button style="background-color: #4605fa; color: #fbff00;" class="btn btn-primary">Buscador</button>
    </div>
  </div>
</nav>